<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Little base station home</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href= "{% static 'basic.css' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
    <script  type="text/javascript" src="{% static 'chart.min.js' %}"></script>
    <!--<link rel="stylesheet" href="basic.css"> -->
    <!-- <script src="chart.min.js"></script> -->
</head>
<body>

    <div class="header">

    <h4>  Hi, i am the little base-station </h4>

        {% if debug %}
            <h2 style="color:red"> WARNING: DEBUG TRUE </h2>
        {% endif %}

        {% if not barometer_connected %}
            <h2 style="color:orange"> WARNING: No hardware connected / mocking enabled </h2>
        {% endif %}

        <div class="flex-area">
            <div class="table-container">
                <table>
                    <tr> <th > Metric information </th> </tr>
                    <tr>
                        <td> User </td>
                        <td> {{ request.user }} </td>
                    </tr>
                    <tr>
                        <td> Requests served </td>
                        <td> {{ requests_served }} </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

    <div class="content">

        <table>
            <tr> <th >  Live data </th> </tr>
            <tr>
                <td> Time </td>
                <td> <span class="timestamp"> </span> </td>
            </tr>
            <tr>
                <td> Pressure in hPa </td>
                <td> <span class="pressure"> </span> </td>
            </tr>
            <tr>
                <td> Temperature in degree </td>
                <td> <span class="temperature"> </span> </td>
            </tr>
            <tr>
                <td> Fairy dust level </td>
                <td> <span class="fairy_dust"> </span> </td>
            </tr>


        </table>

        <h4> Cyclic data </h4>

        <canvas class="pressure"></canvas>
        <canvas class="temperature"></canvas>

    </div>

    <nav>
        <!--
        <ul>
            <li> <a href="/home.html">home</a> </li>
            <li> <a href="/home.html">measure</a> </li>
        </ul>
        -->
    </nav>

<div class="footer">
    <hr>

    <div class="switch-container">
        <p> Style </p>

        <!-- Rounded switch -->
        <label class="switch">
            <input type="checkbox" id="dark-theme-slider">
            <span class="slider round"></span>
        </label>
    </div>

    <p> <a href="https://github.com/Thaulino/the-little-base-station">Github</a>, powered by
        <a href="https://www.djangoproject.com/">Django</a>,
        <a href="https://www.chartjs.org/">Chart.js</a>.
        Rev: <span id="software-version"> </span>
    </p>
    <p>
         {% if debug %}
            {% debug %}
         {% endif %}
    </p>

</div>




</body>

<script>

    class ColorStyle{

        constructor(name, background, foreground){
            this.name = name;
            this.background = `rgb(${background}, ${background}, ${background})`;
            this.foreground = `rgb(${foreground}, ${foreground}, ${foreground})`;
            this.links = `rgb(${foreground*0.7}, ${foreground}, ${foreground})`;
        };
    };

    let darkTheme = new ColorStyle("dark", 64, 227);
    let brightTheme = new ColorStyle("bright", 227, 67);


    let pressure_ctx = document.querySelector('canvas.pressure').getContext('2d');
    let temperature_ctx = document.querySelector('canvas.temperature').getContext('2d');

    let pressure_chart = new Chart(pressure_ctx, {type: 'line',
          data: {
            labels: [{% for ts in timestamps %}"{{ ts }}",{%endfor%}],
            datasets: [{

                // [86,114,106,106,107,111,133]
                data:  [ {% for p in pressure %}{{p}},{%endfor%}],
                label: "The pressure in hPa",
                borderColor: "rgb(60,149,205)",
                backgroundColor: "rgb(62,149,205,0.1)",
              }
            ]
          }
        }
    );


    let temperature_chart = new Chart(temperature_ctx, {type: 'line',
          data: {
            labels:[{% for ts in timestamps %}"{{ ts }}",{%endfor%}],
            datasets: [{
                data:  [ {% for t in temperature %}{{t}},{%endfor%}],
                label: "The temperature in degree",
                borderColor: "rgb(205, 191, 62)",
                backgroundColor: "rgb(62,149,205,0.1)",

              }
            ]
          },
          options: {
            responsive: true,
        }
        }
    );

    const url_periodic_ajax = "periodic_ajax.json"

    function periodicMeasurement(){

        // const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        const options = { hour:'2-digit', minute:'2-digit', second: "2-digit" };

        let li_time = document.querySelector("span.timestamp");
        let timestamp = new Date(Date.now());

        li_time.textContent = timestamp.toLocaleDateString('DE',options);
        //console.log(Date(Date.now()).toLocaleDateString('de-DE', options));

        fetch(url_periodic_ajax).then( respond => {
            if (!respond.ok){
                throw new Error(`HTTP error! status: ${respond.status}`);
            }
            return respond.json()
        }).then( out => {
            console.log("periodic fetch done");
            console.log('Output: ', out);

            // update the page
            let fairy_dust_span = document.querySelector('span.fairy_dust');
            fairy_dust_span.textContent = "Not available"

            for (const datum of out["data"]) {
                if(datum["name"] == "fairy_dust"){
                    fairy_dust_span.textContent = datum["value"].toFixed(2);
                }
            }

            // update the page
            let pressure_span = document.querySelector('span.pressure');
            pressure_span.textContent = "Not available"
            for (const datum of out["data"]) {
                if(datum["name"] == "pressure"){
                    pressure_span.textContent = datum["value"].toFixed(2);
                }
            }

            // update the page
            let temperature_span = document.querySelector('span.temperature');
            temperature_span.textContent = "Not available"
            for (const datum of out["data"]) {
                if(datum["name"] == "temperature"){
                    temperature_span.textContent = datum["value"].toFixed(2);
                }
            }

        }).catch( e => {
            console.log(`There has been a problem with your fetch operation for resource "${url_periodic_ajax}": ` + e.message);
        })
    };

    // default measure every 3s
    setInterval(periodicMeasurement, 3000);

    function activateTheme(theme){
        // elements on this side
        let body = document.querySelector("body");
        let links = document.querySelectorAll("a");

        body.style.background = theme.background;
        body.style.color = theme.foreground;

        for(link of links){
            console.log(link);
            link.style.color = theme.links;
        }
    };

    // implement the dark theme switch
    let slider_dark_theme = document.querySelector("#dark-theme-slider");

    slider_dark_theme.onchange = function(){
        if (slider_dark_theme.checked){
            activateTheme(darkTheme);
        }else{
            // select the white theme
            activateTheme(brightTheme);
        }
    }

    // run periodic measurement
    periodicMeasurement();

</script>
</html>

